/* Quick and Dirty Reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color variables */

:root {
  --proj-container-border: rgb(0, 1, 12);
  --proj-container-bg: navy;
  --text: rgb(197, 197, 27);
  --inner-container-border: rgb(17, 20, 224);
  --inner-container-bg: rgb(6, 6, 172);
  --card-img-border: white;
  --card-border: white;
}

/* Container Styles */

#proj-container{
  width: 80%;
  margin: 0 auto;
  background-color: var(--proj-container-bg);
  color: var(--text);
  border: 2px solid var(--proj-container-border);
  border-radius: 5px;
  display: grid;
  grid-template-rows: .1fr 3fr;
}

#header-and-buttons{
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  justify-content: center;
  padding: 15px;
  background-color: var(--inner-container-bg);
  border: 2px solid var(--inner-container-border);
  margin: 10px;
  margin-bottom: 0;
  border-bottom: 0;
}

#api-content{
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 15px;
  background-color: var(--inner-container-bg);
  border: 2px solid var(--inner-container-border);
  margin: 10px;
  margin-top: 0;
  height: 32em;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Individual Styles */

#header{
  display: grid;
  align-self: center;
  justify-self: center;
  padding: 10px;
}

#search-input-box{
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
